<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd" bootstrap="vendor/silverstripe/framework/tests/bootstrap.php" colors="true" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Default">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="BIFROST_ENDPOINT" value="https://fakeplace.com"/>
    <env name="BIFROST_MANAGEMENT_API_KEY" value="fakeApiKey"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
    <exclude>
      <directory suffix=".php">tests/</directory>
    </exclude>
  </source>
</phpunit>
